<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur le site de Ma super agence</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <header>
            <h1>Ma Super Agence</h1>
            <p>Site créé par Cédric Gautier</p>
        </header>
        <nav>
            <ul>
                <li>Nom du bien :<a href="{{ url('property.show', {id: contact.property.id, slug: contact.property.slug}) }}">{{ contact.property.title }}</a></li>                
            </ul>
        </nav>
        <section>
            <aside>
                <h1>Identité de l'expéditeur</h1>
                <p>Prénom : {{ contact.firstname }}</p>
                <p>Nom : {{ contact.lastname }}</p>
                <p>Téléphone : {{ contact.phone }}</p>
                <p>Email : {{ contact.email }}</p>                
            </aside>
            <article>               
                <h1>Message</h1>
                <p>{{ contact.message | nl2br }}</p>
            </article>
        </section>
<footer>
            <p>Copyright Cédric Gautier - Tous droits réservés</p>
        </footer>
    </body>
</html>
